<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" />
  <title>Word Finder</title>
  <link rel="stylesheet" href="/public/css/app.css" />
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
</head>
<body>

<h3>Word Finder</h3>

<p>
I took every english word (over 200k words) and built a little app that will help you find words that contain specific characters.
</p>

